In [9]:
import cudf
college = cudf.read_csv('../Data/college.csv')

In [4]:
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,null,null,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [5]:
college.shape

(7535, 27)

In [6]:
# college.info() 目前不支持

AttributeError: 'DataFrame' object has no attribute 'info'

In [10]:
import numpy as np
#数字字段的统计量
college.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [11]:
# college.describe(include=[np.object,cudf.CategoricalDtype]).T 目前不支持

NotImplementedError: Describing non-numeric columns is not yet supported

In [27]:
#内存通过改变字段的类型减少内存使用
college = cudf.read_csv('../Data/college.csv')
diff_cols = ['RELAFFIL','SATVRMID','CURROPER','INSTNM','STABBR']
col2 = college.loc[:,diff_cols]
col2.head()

   RELAFFIL SATVRMID  CURROPER                               INSTNM STABBR
0         0    424.0         1             Alabama A & M University     AL
1         0    570.0         1  University of Alabama at Birmingham     AL
2         1     null         1                   Amridge University     AL
3         0    595.0         1  University of Alabama in Huntsville     AL
4         0    425.0         1             Alabama State University     AL

In [15]:
col2.dtypes

RELAFFIL      int64
SATVRMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [24]:
#改变字段的数据类型
col2['RELAFFIL'] = col2['RELAFFIL'].astype(np.int8)
col2.dtypes

RELAFFIL       int8
SATVRMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [25]:
col2.select_dtypes(include=['object']).head()

                                INSTNM STABBR
0             Alabama A & M University     AL
1  University of Alabama at Birmingham     AL
2                   Amridge University     AL
3  University of Alabama in Huntsville     AL
4             Alabama State University     AL

In [28]:
col2['STABBR'] = col2['STABBR'].astype('category')
col2.dtypes

RELAFFIL       int64
SATVRMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [36]:
movie = cudf.read_csv('../Data/movie.csv')
movie2 = movie[['movie_title','imdb_score','budget']]
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1         null

In [35]:
#选择imdb评分最高的电影
movie2.nlargest(100,'imdb_score').head()

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5        null
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1        null
4312      Kickboxer: Vengeance         9.1  17000000.0

In [38]:
#选出前100部高分电影中预算最低的
movie2.nlargest(100,'imdb_score').nsmallest(5,'budget').head()

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [48]:
movie = cudf.read_csv('../Data/movie.csv')
movie2 = movie[['movie_title','title_year','imdb_score']]
movie2.head()

                                  movie_title title_year  imdb_score
0                                      Avatar     2009.0         7.9
1    Pirates of the Caribbean: At World's End     2007.0         7.1
2                                     Spectre     2015.0         6.8
3                       The Dark Knight Rises     2012.0         8.5
4  Star Wars: Episode VII - The Force Awakens       null         7.1

In [49]:
#根据年份正序
movie2.sort_values('title_year').head()

                                           movie_title  title_year  imdb_score
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4767                                    The Big Parade      1925.0         8.3
2694                                        Metropolis      1927.0         8.3
4555                                     Pandora's Box      1929.0         8.0

In [50]:
#根据年份倒序
movie2.sort_values('title_year',ascending=False).head()

                           movie_title  title_year  imdb_score
10  Batman v Superman: Dawn of Justice      2016.0         6.9
27          Captain America: Civil War      2016.0         8.2
57                    Star Trek Beyond      2016.0         7.5
63                The Legend of Tarzan      2016.0         6.6
65                   X-Men: Apocalypse      2016.0         7.3

In [51]:
#根据多个字段排序
movie3 = movie2.sort_values(['title_year','imdb_score'],ascending=False)
movie3.head()

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2

In [53]:
movie_top_year = movie3.drop_duplicates(subset='title_year')
movie_top_year.tail()

                                  movie_title title_year  imdb_score
3935  Batman: The Dark Knight Returns, Part 2     2013.0         8.4
4369                   Queen of the Mountains     2014.0         8.7
3745                          Running Forever     2015.0         8.6
4312                     Kickboxer: Vengeance     2016.0         9.1
2725                         Towering Inferno       null         9.5